<!doctype html>
<html lang="{{ app.request.locale|replace({'_': '-'}) }}">
<head>
    <meta charset="utf-8">
    {%  block ibexa_seo_block %}
        {%- if content is defined -%}
            {{- ibexa_seo(content) -}}
        {%- endif -%}
    {% endblock %}
    <meta name="generator" content="Ibexa DXP"/>
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>
