parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#1 \$input of function array_keys expects array, array\|bool\|float\|int\|string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/bundle/Core/ApiLoader/StorageConnectionFactory.php

		-
			message: '#^Parameter \#2 \$str of function fwrite expects string, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: src/bundle/Core/Command/ResizeOriginalImagesCommand.php

		-
			message: '#^Method Ibexa\\Bundle\\Core\\DependencyInjection\\Compiler\\InjectEntityManagerMappingsPass\:\:getEntityMapForConfigurationService\(\) should return array but returns array\|false\.$#'
			identifier: return.type
			count: 1
			path: src/bundle/Core/DependencyInjection/Compiler/InjectEntityManagerMappingsPass.php

		-
			message: '#^Parameter \#2 \.\.\.\$args of function array_merge expects array, Ibexa\\Contracts\\Core\\SiteAccess\\ConfigResolverInterface given\.$#'
			identifier: argument.type
			count: 1
			path: src/bundle/Core/DependencyInjection/Configuration/ChainConfigResolver.php

		-
			message: '#^Parameter \#1 \$str of function strtolower expects string, string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/bundle/Core/DependencyInjection/Configuration/ConfigResolver.php

		-
			message: '#^Parameter \#1 \$stack of function array_shift expects array, array\|bool\|float\|int\|string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/bundle/Core/DependencyInjection/Configuration/Parser/Languages.php

		-
			message: '#^Parameter \#1 \$arr1 of function array_merge expects array, array\|bool\|float\|int\|string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/bundle/Core/DependencyInjection/Configuration/SiteAccessAware/Contextualizer.php

		-
			message: '#^Parameter \#1 \$arr1 of function array_merge expects array, array\|bool\|float\|int\|string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/bundle/Core/DependencyInjection/IbexaCoreExtension.php

		-
			message: '#^Parameter \#3 \$length of function substr expects int, int\<0, max\>\|false given\.$#'
			identifier: argument.type
			count: 1
			path: src/bundle/Core/Features/Context/ContentPreviewContext.php

		-
			message: '#^Parameter \#1 \$var of function count expects array\|Countable, iterable\<Ibexa\\Contracts\\Core\\Repository\\Values\\User\\User\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/bundle/Core/Features/Context/UserContext.php

		-
			message: '#^PHPDoc tag @throws with type Psr\\Cache\\InvalidArgumentException is not subtype of Throwable$#'
			identifier: throws.notThrowable
			count: 1
			path: src/bundle/Core/Imagine/Cache/AliasGeneratorDecorator.php

		-
			message: '#^Parameter \#2 \$str of function fwrite expects string, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: src/bundle/Core/Imagine/IORepositoryResolver.php

		-
			message: '#^Parameter \#1 \$fp of function fclose expects resource, resource\|false given\.$#'
			identifier: argument.type
			count: 1
			path: src/bundle/IO/BinaryStreamResponse.php

		-
			message: '#^Parameter \#2 \$dest of function stream_copy_to_stream expects resource, resource\|false given\.$#'
			identifier: argument.type
			count: 1
			path: src/bundle/IO/BinaryStreamResponse.php

		-
			message: '#^Parameter \#3 \$count of class LimitIterator constructor expects int, int\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/bundle/IO/Migration/FileLister/BinaryFileLister.php

		-
			message: '#^Parameter \#3 \$length of function substr expects int, int\<0, max\>\|false given\.$#'
			identifier: argument.type
			count: 1
			path: src/bundle/IO/Migration/FileLister/FileRowReader/LegacyStorageFileRowReader.php

		-
			message: '#^Parameter \#3 \$count of class LimitIterator constructor expects int, int\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/bundle/IO/Migration/FileLister/ImageFileLister.php

		-
			message: '#^Parameter \#1 \$input of function array_keys expects array, array\|bool\|float\|int\|string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/bundle/LegacySearchEngine/ApiLoader/ConnectionFactory.php

		-
			message: '#^Parameter \#1 \$input of function array_filter expects array, list\<string\>\|false given\.$#'
			identifier: argument.type
			count: 1
			path: src/bundle/RepositoryInstaller/Installer/DbBasedInstaller.php

		-
			message: '#^Parameter \#1 \$object_or_string of function is_a expects object\|string, string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/lib/Base/Container/Compiler/FieldTypeRegistryPass.php

		-
			message: '#^Parameter \#1 \$object_or_string of function is_subclass_of expects object\|string, array\|bool\|float\|int\|string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/lib/Base/Container/Compiler/Storage/ExternalStorageRegistryPass.php

		-
			message: '#^Parameter \#1 \$var of function count expects array\|Countable, array\|bool\|float\|int\|string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/lib/FieldType/Author/SearchField.php

		-
			message: '#^Parameter \#3 \$length of function substr expects int, int\<0, max\>\|false given\.$#'
			identifier: argument.type
			count: 1
			path: src/lib/FieldType/BinaryBase/BinaryBaseStorage/Gateway/DoctrineStorage.php

		-
			message: '#^Parameter \#3 \$length of function substr expects int, int\<0, max\>\|false given\.$#'
			identifier: argument.type
			count: 1
			path: src/lib/FieldType/BinaryBase/PathGenerator/LegacyPathGenerator.php

		-
			message: '#^Parameter \#1 \$arr1 of function array_merge expects array, array\|bool\|float\|int\|string given\.$#'
			identifier: argument.type
			count: 1
			path: src/lib/FieldType/Image/ImageStorage.php

		-
			message: '#^Parameter \#1 \$input of function array_flip expects array\<int\|string\>, array\|bool\|float\|int\|string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/lib/FieldType/Selection/SearchField.php

		-
			message: '#^Parameter \#1 \$str of function mb_substr expects string, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: src/lib/FieldType/TextBlock/SearchField.php

		-
			message: '#^Parameter \#1 \$str of function mb_substr expects string, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: src/lib/FieldType/TextBlock/Type.php

		-
			message: '#^Parameter \#1 \$input of function array_keys expects array, iterable\<Ibexa\\Contracts\\Core\\Persistence\\Content\\Language\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/lib/Limitation/LanguageLimitationType.php

		-
			message: '#^Parameter \#1 \$input of function array_keys expects array, array\<mixed\>\|ArrayObject\<\(int\|string\), mixed\>\|bool\|float\|int\|string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/lib/MVC/Symfony/Component/Serializer/AbstractPropertyWhitelistNormalizer.php

		-
			message: '#^Parameter \#1 \$arr1 of function array_merge expects array, iterable\<Ibexa\\Contracts\\Core\\Repository\\Values\\Content\\URLAlias\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/lib/MVC/Symfony/Matcher/ContentBased/UrlAlias.php

		-
			message: '#^Parameter \#2 \.\.\.\$args of function array_merge expects array, iterable\<Ibexa\\Contracts\\Core\\Repository\\Values\\Content\\URLAlias\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/lib/MVC/Symfony/Matcher/ContentBased/UrlAlias.php

		-
			message: '#^PHPDoc tag @throws with type Psr\\Cache\\InvalidArgumentException is not subtype of Throwable$#'
			identifier: throws.notThrowable
			count: 1
			path: src/lib/Persistence/Cache/ContentTypeHandler.php

		-
			message: '#^PHPDoc tag @throws with type Psr\\Cache\\CacheException is not subtype of Throwable$#'
			identifier: throws.notThrowable
			count: 1
			path: src/lib/Persistence/Cache/SettingHandler.php

		-
			message: '#^PHPDoc tag @throws with type Psr\\Cache\\InvalidArgumentException is not subtype of Throwable$#'
			identifier: throws.notThrowable
			count: 2
			path: src/lib/Persistence/Cache/SettingHandler.php

		-
			message: '#^PHPDoc tag @throws with type Ibexa\\Core\\Base\\Exceptions\\BadStateException\|Psr\\Cache\\InvalidArgumentException is not subtype of Throwable$#'
			identifier: throws.notThrowable
			count: 1
			path: src/lib/Persistence/Cache/UrlAliasHandler.php

		-
			message: '#^PHPDoc tag @throws with type Psr\\Cache\\InvalidArgumentException is not subtype of Throwable$#'
			identifier: throws.notThrowable
			count: 1
			path: src/lib/Persistence/Cache/UrlWildcardHandler.php

		-
			message: '#^Cannot access property \$ownerDocument on DOMElement\|false\.$#'
			identifier: property.nonObject
			count: 2
			path: src/lib/Persistence/Legacy/Content/FieldValue/Converter/ImageConverter.php

		-
			message: '#^Parameter \#1 \$input of class Ibexa\\Core\\FieldType\\FieldSettings constructor expects array\<mixed\>\|object, array\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/lib/Persistence/Legacy/Content/FieldValue/Converter/SerializableConverter.php

		-
			message: '#^Parameter \#1 \$input of function array_keys expects array, iterable\<Ibexa\\Contracts\\Core\\Persistence\\Content\\Language\> given\.$#'
			identifier: argument.type
			count: 2
			path: src/lib/Persistence/Legacy/Content/Language/MaskGenerator.php

		-
			message: '#^Method Ibexa\\Core\\Persistence\\Legacy\\Content\\UrlAlias\\Gateway\\DoctrineDatabase\:\:filterOriginalAliases\(\) should return array but returns array\|false\.$#'
			identifier: return.type
			count: 1
			path: src/lib/Persistence/Legacy/Content/UrlAlias/Gateway/DoctrineDatabase.php

		-
			message: '#^Parameter \#1 \$string of function strlen expects string, string\|false\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/lib/Persistence/TransformationProcessor/DefinitionBased/Parser.php

		-
			message: '#^Parameter \#1 \$string of function substr expects string, string\|false\|null given\.$#'
			identifier: argument.type
			count: 2
			path: src/lib/Persistence/TransformationProcessor/DefinitionBased/Parser.php

		-
			message: '#^Parameter \#2 \$subject of function preg_match expects string, string\|false\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/lib/Persistence/TransformationProcessor/DefinitionBased/Parser.php

		-
			message: '#^Parameter \#1 \$ascii of function chr expects int, float\|int given\.$#'
			identifier: argument.type
			count: 1
			path: src/lib/Persistence/TransformationProcessor/PcreCompiler.php

		-
			message: '#^Parameter \#1 \$hexadecimal_number of function hexdec expects string, string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/lib/Persistence/TransformationProcessor/PcreCompiler.php

		-
			message: '#^Parameter \#1 \$str of function md5 expects string, string\|false given\.$#'
			identifier: argument.type
			count: 4
			path: src/lib/Repository/Mapper/ContentMapper.php

		-
			message: '#^Parameter \#1 \$autoload_function of function spl_autoload_register expects callable\(string\)\: void, ProxyManager\\Autoloader\\AutoloaderInterface given\.$#'
			identifier: argument.type
			count: 1
			path: src/lib/Repository/ProxyFactory/ProxyGenerator.php

		-
			message: '#^Parameter \#2 \$arr2 of function array_diff expects array, array\<mixed\>\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/lib/Repository/RoleService.php

		-
			message: '#^Parameter \#1 \$var of function count expects array\|Countable, iterable\<Ibexa\\Contracts\\Core\\Repository\\Values\\Content\\Location\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/lib/Repository/UserService.php

		-
			message: '#^Parameter \#1 \$array of function reset expects array\|object, null given\.$#'
			identifier: argument.type
			count: 3
			path: src/lib/Search/Common/FieldNameResolver.php

		-
			message: '#^Parameter \#1 \$input of function array_keys expects array, string given\.$#'
			identifier: argument.type
			count: 3
			path: src/lib/Search/Common/FieldNameResolver.php

		-
			message: '#^Parameter \#1 \$str of function trim expects string, bool\|float\|int\|string given\.$#'
			identifier: argument.type
			count: 1
			path: src/lib/Search/Legacy/Content/Gateway/CriterionHandler/Ancestor.php

		-
			message: '#^Parameter \#1 \$str of function trim expects string, bool\|float\|int\|string given\.$#'
			identifier: argument.type
			count: 1
			path: src/lib/Search/Legacy/Content/Location/Gateway/CriterionHandler/Ancestor.php

		-
			message: '#^Parameter \#1 \$var of function count expects array\|Countable, array\|bool\|float\|int\|string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: tests/bundle/Core/DependencyInjection/IbexaCoreExtensionTest.php

		-
			message: '#^Parameter \#2 \.\.\.\$args of function array_merge_recursive expects array, array\|bool\|float\|int\|string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: tests/bundle/Core/DependencyInjection/IbexaCoreExtensionTest.php

		-
			message: '#^Parameter \#1 \$str of function trim expects string, string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: tests/bundle/Core/EventListener/BackwardCompatibleCommandListenerTest.php

		-
			message: '#^Parameter \#2 \$start of function substr expects int, int\<1, max\>\|false given\.$#'
			identifier: argument.type
			count: 1
			path: tests/bundle/Core/EventListener/SiteAccessListenerTest.php

		-
			message: '#^Parameter \#3 \$length of function substr expects int, int\<0, max\>\|false given\.$#'
			identifier: argument.type
			count: 1
			path: tests/bundle/Core/Routing/DefaultRouterTest.php

		-
			message: '#^Parameter \#1 \$fp of function fclose expects resource, resource\|false given\.$#'
			identifier: argument.type
			count: 1
			path: tests/integration/Core/IO/BinarydataHandler/FlysystemTest.php

		-
			message: '#^Parameter \#1 \$str1 of function strcmp expects string, bool\|float\|int\|string given\.$#'
			identifier: argument.type
			count: 1
			path: tests/integration/Core/Repository/BaseTest.php

		-
			message: '#^Parameter \#2 \$str2 of function strcmp expects string, bool\|float\|int\|string given\.$#'
			identifier: argument.type
			count: 1
			path: tests/integration/Core/Repository/BaseTest.php

		-
			message: '#^Parameter \#1 \$input of function array_values expects array\<T\>, iterable\<Ibexa\\Contracts\\Core\\Repository\\Values\\Content\\Location\> given\.$#'
			identifier: argument.type
			count: 1
			path: tests/integration/Core/Repository/ContentServiceTest.php

		-
			message: '#^Parameter \#1 \$str of function md5 expects string, float given\.$#'
			identifier: argument.type
			count: 3
			path: tests/integration/Core/Repository/ContentServiceTest.php

		-
			message: '#^Parameter \#1 \$var of function count expects array\|Countable, iterable\<Ibexa\\Contracts\\Core\\Repository\\Values\\Content\\Field\> given\.$#'
			identifier: argument.type
			count: 1
			path: tests/integration/Core/Repository/ContentServiceTest.php

		-
			message: '#^Parameter \#1 \$var of function count expects array\|Countable, iterable\<Ibexa\\Contracts\\Core\\Repository\\Values\\ContentType\\ContentType\> given\.$#'
			identifier: argument.type
			count: 1
			path: tests/integration/Core/Repository/ContentTypeServiceTest.php

		-
			message: '#^Parameter \#1 \$var of function count expects array\|Countable, iterable\<Ibexa\\Contracts\\Core\\Repository\\Values\\Content\\Language\> given\.$#'
			identifier: argument.type
			count: 1
			path: tests/integration/Core/Repository/LanguageServiceMaximumSupportedLanguagesTest.php

		-
			message: '#^Parameter \#1 \$var of function count expects array\|Countable, iterable\<Ibexa\\Contracts\\Core\\Repository\\Values\\Content\\Language\> given\.$#'
			identifier: argument.type
			count: 2
			path: tests/integration/Core/Repository/LanguageServiceTest.php

		-
			message: '#^Parameter \#1 \$array_arg of function sort contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 1
			path: tests/integration/Core/Repository/LocationServiceTest.php

		-
			message: '#^Parameter \#1 \$input of function array_filter expects array, iterable\<Ibexa\\Contracts\\Core\\Repository\\Values\\Content\\URLAlias\> given\.$#'
			identifier: argument.type
			count: 1
			path: tests/integration/Core/Repository/LocationServiceTest.php

		-
			message: '#^Parameter \#1 \$input of function array_keys expects array, iterable\<Ibexa\\Contracts\\Core\\Repository\\Values\\Content\\Location\> given\.$#'
			identifier: argument.type
			count: 3
			path: tests/integration/Core/Repository/LocationServiceTest.php

		-
			message: '#^Parameter \#1 \$input of function array_filter expects array, iterable\<Ibexa\\Contracts\\Core\\Repository\\Values\\User\\Policy\> given\.$#'
			identifier: argument.type
			count: 1
			path: tests/integration/Core/Repository/PermissionResolverTest.php

		-
			message: '#^Parameter \#1 \$var of function count expects array\|Countable, iterable\<Ibexa\\Contracts\\Core\\Repository\\Values\\User\\Policy\> given\.$#'
			identifier: argument.type
			count: 1
			path: tests/integration/Core/Repository/Regression/EZP21798Test.php

		-
			message: '#^Parameter \#1 \$arr1 of function array_merge expects array, iterable\<Ibexa\\Contracts\\Core\\Repository\\Values\\User\\Policy\> given\.$#'
			identifier: argument.type
			count: 1
			path: tests/integration/Core/Repository/RoleServiceTest.php

		-
			message: '#^Parameter \#1 \$var of function count expects array\|Countable, iterable\<Ibexa\\Contracts\\Core\\Repository\\Values\\User\\RoleAssignment\> given\.$#'
			identifier: argument.type
			count: 1
			path: tests/integration/Core/Repository/RoleServiceTest.php

		-
			message: '#^Parameter \#1 \$var of function count expects array\|Countable, iterable\<Ibexa\\Contracts\\Core\\Repository\\Values\\User\\UserGroupRoleAssignment\|Ibexa\\Contracts\\Core\\Repository\\Values\\User\\UserRoleAssignment\> given\.$#'
			identifier: argument.type
			count: 3
			path: tests/integration/Core/Repository/RoleServiceTest.php

		-
			message: '#^Parameter \#1 \$str of function md5 expects string, int\<1, max\> given\.$#'
			identifier: argument.type
			count: 1
			path: tests/integration/Core/Repository/Values/User/Limitation/BaseLimitationTest.php

		-
			message: '#^Parameter \#1 \$str of function md5 expects string, float given\.$#'
			identifier: argument.type
			count: 1
			path: tests/lib/MVC/Symfony/Security/UserWrappedTest.php

		-
			message: '#^Method Ibexa\\Tests\\Core\\MVC\\Symfony\\Templating\\Twig\\Extension\\FileSystemTwigIntegrationTestCase\:\:doIntegrationTest\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: tests/lib/MVC/Symfony/Templating/Twig/Extension/FileSystemTwigIntegrationTestCase.php

		-
			message: '#^Parameter \#1 \$function of function call_user_func_array expects callable\(\)\: mixed, array\{mixed, string\} given\.$#'
			identifier: argument.type
			count: 3
			path: tests/lib/Persistence/Cache/AbstractCacheHandlerTest.php

		-
			message: '#^Parameter \#1 \$function of function call_user_func_array expects callable\(\)\: mixed, array\{mixed, string\} given\.$#'
			identifier: argument.type
			count: 3
			path: tests/lib/Persistence/Cache/AbstractInMemoryCacheHandlerTest.php

		-
			message: '#^Parameter \#1 \$function of function call_user_func_array expects callable\(\)\: mixed, array\{mixed, ''publish''\} given\.$#'
			identifier: argument.type
			count: 1
			path: tests/lib/Persistence/Cache/ContentTypeHandlerTest.php

		-
			message: '#^Parameter \#1 \$arr1 of function array_merge expects array, iterable given\.$#'
			identifier: argument.type
			count: 1
			path: tests/lib/Persistence/Legacy/Filter/BaseCriterionVisitorQueryBuilderTestCase.php

		-
			message: '#^Parameter \#2 \.\.\.\$args of function array_merge expects array, iterable\<Ibexa\\Contracts\\Core\\Repository\\Values\\Filter\\CriterionQueryBuilder\> given\.$#'
			identifier: argument.type
			count: 1
			path: tests/lib/Persistence/Legacy/Filter/BaseCriterionVisitorQueryBuilderTestCase.php

		-
			message: '#^Parameter \#1 \$var of function count expects array\|Countable, iterable\<Ibexa\\Contracts\\Core\\Repository\\Values\\Content\\URLAlias\> given\.$#'
			identifier: argument.type
			count: 12
			path: tests/lib/Repository/Service/Mock/UrlAliasTest.php

		-
			message: '#^Parameter \#1 \$array_arg of function key expects array\|object, string given\.$#'
			identifier: argument.type
			count: 4
			path: tests/lib/Search/FieldNameResolverTest.php
