parameters:
	ignoreErrors:
		-
			message: '#^Cannot unset property .* because it might have hooks in a subclass\.$#'
			identifier: unset.possiblyHookedProperty
			count: 1
			path: tests/lib/Persistence/Legacy/TestCase.php

		-
			message: '#^Cannot unset property .* because it might have hooks in a subclass\.$#'
			identifier: unset.possiblyHookedProperty
			count: 1
			path: tests/lib/Repository/Values/Content/LocationTest.php

		-
			message: '#^Cannot unset property .* because it might have hooks in a subclass\.$#'
			identifier: unset.possiblyHookedProperty
			count: 1
			path: tests/lib/Repository/Values/Content/TrashItemTest.php

		-
			message: '#^Cannot unset property .* because it might have hooks in a subclass\.$#'
			identifier: unset.possiblyHookedProperty
			count: 1
			path: tests/lib/Repository/Values/User/PolicyTest.php

		-
			message: '#^Cannot unset property .* because it might have hooks in a subclass\.$#'
			identifier: unset.possiblyHookedProperty
			count: 1
			path: tests/lib/Repository/Values/User/RoleTest.php

		-
			message: '#^Cannot unset property .* because it might have hooks in a subclass\.$#'
			identifier: unset.possiblyHookedProperty
			count: 1
			path: tests/lib/Repository/Values/User/UserGroupTest.php

		-
			message: '#^Cannot unset property .* because it might have hooks in a subclass\.$#'
			identifier: unset.possiblyHookedProperty
			count: 1
			path: tests/lib/Repository/Values/User/UserTest.php

		-
			message: '#^Cannot unset property .* because it might have hooks in a subclass\.$#'
			identifier: unset.possiblyHookedProperty
			count: 3
			path: tests/bundle/Core/EventListener/BackgroundIndexingTerminateListenerTest.php

		-
			message: '#^Cannot unset property .* because it might have hooks in a subclass\.$#'
			identifier: unset.possiblyHookedProperty
			count: 9
			path: tests/lib/Persistence/Cache/AbstractBaseHandlerTestCase.php

		-
			message: '#^Cannot unset property .* because it might have hooks in a subclass\.$#'
			identifier: unset.possiblyHookedProperty
			count: 3
			path: tests/lib/Persistence/Cache/Adapter/InMemoryClearingProxyAdapterTest.php

		-
			message: '#^Cannot unset property .* because it might have hooks in a subclass\.$#'
			identifier: unset.possiblyHookedProperty
			count: 1
			path: tests/lib/Persistence/Cache/InMemory/InMemoryCacheTest.php

		-
			message: '#^Cannot unset property .* because it might have hooks in a subclass\.$#'
			identifier: unset.possiblyHookedProperty
			count: 1
			path: tests/lib/Persistence/Cache/PersistenceLoggerTest.php

		-
			message: '#^Cannot unset property .* because it might have hooks in a subclass\.$#'
			identifier: unset.possiblyHookedProperty
			count: 3
			path: tests/lib/Repository/SiteAccessAware/AbstractServiceTestCase.php

		-
			message: '#^Parameter \#1 \$command of class Symfony\\Component\\Process\\Process constructor expects array\<string\>, list\<int, mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/bundle/Core/Command/UpdateTimestampsToUTCCommand.php

		-
			message: '#^Parameter \#1 \$env of method Symfony\\Component\\Process\\Process\:\:setEnv\(\) expects array\<string, string\|Stringable\|false\>, array\{INNER_CALL\: 1\} given\.$#'
			identifier: argument.type
			count: 1
			path: src/bundle/Core/Command/UpdateTimestampsToUTCCommand.php
