includes:
    - phpstan-baseline.neon

parameters:
    level: 0
    paths:
        - src
        - tests
    excludePaths:
        analyse:
            - tests/integration/Core/Repository/var
            - tests/lib/Search/Legacy/_fixtures/full_dump.php
