parameters:
	ignoreErrors:
		-
			message: '#^Possibly invalid array key type bool\|float\|int\|string\.$#'
			identifier: offsetAccess.invalidOffset
			count: 3
			path: src/lib/Persistence/Legacy/Content/Mapper.php

		-
			message: '#^Possibly invalid array key type bool\|float\|int\|string\.$#'
			identifier: offsetAccess.invalidOffset
			count: 2
			path: tests/integration/Core/Repository/SearchService/RemoteIdIndexingTest.php
