includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - phpstan-baseline.neon.php
    - phpstan-baseline.neon

parameters:
    level: 8
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        -
            message: "#^Cannot call method (fetchOne|fetchColumn|fetchAllAssociative|fetchAssociative|fetchAllKeyValue)\\(\\) on Doctrine\\\\DBAL\\\\ForwardCompatibility\\\\Result\\|int\\|string\\.$#"
            paths:
                - src/*
                - tests/*
    paths:
        - src
        - tests
    excludePaths:
        analyse:
            - tests/integration/Core/Repository/var
            - */_fixtures/*.php
