parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#2 \.\.\.\$arrays of function array_diff expects array, array\<mixed\>\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/lib/Repository/RoleService.php

		-
			message: '#^Parameter \#1 \$array of function sort contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 1
			path: tests/integration/Core/Repository/LocationServiceTest.php

		-
			message: '#^Parameter \#1 \$array of function array_keys expects array, array\<mixed\>\|ArrayObject\<\(int\|string\), mixed\>\|bool\|float\|int\|string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/lib/MVC/Symfony/Component/Serializer/AbstractPropertyWhitelistNormalizer.php

		-
			message: '#^Parameter \#1 \$array of function array_filter expects array, list\<string\>\|false given\.$#'
			identifier: argument.type
			count: 1
			path: src/bundle/RepositoryInstaller/Installer/DbBasedInstaller.php

		-
			message: '#^Parameter \#1 \$array of class Ibexa\\Core\\FieldType\\FieldSettings constructor expects array\<mixed\>\|object, array\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/lib/Persistence/Legacy/Content/FieldValue/Converter/SerializableConverter.php

		-
			message: '#^Access to an undefined property Ibexa\\Contracts\\Core\\Repository\\Values\\Content\\Language\:\:\$notDefined\.$#'
			identifier: property.notFound
			count: 1
			path: tests/lib/Repository/Values/Content/LanguageTest.php

		-
			message: '#^Access to an undefined property Ibexa\\Core\\Repository\\Values\\User\\User\:\:\$notDefined\.$#'
			identifier: property.notFound
			count: 1
			path: tests/lib/Repository/Values/User/UserTest.php

		-
			message: '#^Access to an undefined property Ibexa\\Core\\Repository\\Values\\User\\UserGroup\:\:\$notDefined\.$#'
			identifier: property.notFound
			count: 1
			path: tests/lib/Repository/Values/User/UserGroupTest.php

		-
			message: '#^Access to an undefined property Ibexa\\Core\\Repository\\Values\\User\\Role\:\:\$notDefined\.$#'
			identifier: property.notFound
			count: 1
			path: tests/lib/Repository/Values/User/RoleTest.php

		-
			message: '#^Access to an undefined property Ibexa\\Core\\Repository\\Values\\User\\Policy\:\:\$notDefined\.$#'
			identifier: property.notFound
			count: 1
			path: tests/lib/Repository/Values/User/PolicyTest.php

		-
			message: '#^Access to an undefined property Ibexa\\Core\\Repository\\Values\\ObjectState\\ObjectState\:\:\$notDefined\.$#'
			identifier: property.notFound
			count: 1
			path: tests/lib/Repository/Values/ObjectState/ObjectStateTest.php

		-
			message: '#^Access to an undefined property Ibexa\\Core\\Repository\\Values\\ObjectState\\ObjectStateGroup\:\:\$notDefined\.$#'
			identifier: property.notFound
			count: 1
			path: tests/lib/Repository/Values/ObjectState/ObjectStateGroupTest.php

		-
			message: '#^Access to an undefined property Ibexa\\Core\\Repository\\Values\\Content\\TrashItem\:\:\$notDefined\.$#'
			identifier: property.notFound
			count: 1
			path: tests/lib/Repository/Values/Content/TrashItemTest.php

		-
			message: '#^Access to an undefined property Ibexa\\Contracts\\Core\\Repository\\Values\\Content\\Section\:\:\$notDefined\.$#'
			identifier: property.notFound
			count: 1
			path: tests/lib/Repository/Values/Content/SectionTest.php

		-
			message: '#^Access to an undefined property Ibexa\\Core\\Repository\\Values\\Content\\Location\:\:\$notDefined\.$#'
			identifier: property.notFound
			count: 1
			path: tests/lib/Repository/Values/Content/LocationTest.php
