parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#2 \.\.\.\$arrays of function array_diff expects array, array\<mixed\>\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/lib/Repository/RoleService.php

		-
			message: '#^Parameter \#1 \$array of function sort contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 1
			path: tests/integration/Core/Repository/LocationServiceTest.php

		-
			message: '#^Parameter \#1 \$array of function array_keys expects array, array\<mixed\>\|ArrayObject\<\(int\|string\), mixed\>\|bool\|float\|int\|string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/lib/MVC/Symfony/Component/Serializer/AbstractPropertyWhitelistNormalizer.php

		-
			message: '#^Parameter \#1 \$array of function array_filter expects array, list\<string\>\|false given\.$#'
			identifier: argument.type
			count: 1
			path: src/bundle/RepositoryInstaller/Installer/DbBasedInstaller.php

		-
			message: '#^Parameter \#1 \$array of class Ibexa\\Core\\FieldType\\FieldSettings constructor expects array\<mixed\>\|object, array\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/lib/Persistence/Legacy/Content/FieldValue/Converter/SerializableConverter.php
