services:
    Ibexa\Bundle\Core\Fragment\SiteAccessSerializerInterface:
        alias: Ibexa\Bundle\Core\Fragment\SiteAccessSerializer


    Ibexa\Bundle\Core\Fragment\SiteAccessSerializer:
        arguments:
            $serializer: '@ibexa.core.mvc.serializer'

    ibexa.core.mvc.serializer.normalizer.array_denormalizer:
        class: Symfony\Component\Serializer\Normalizer\ArrayDenormalizer
        tags:
            - { name: 'ibexa.core.serializer.normalizer', priority: 1300 }

    Ibexa\Core\MVC\Symfony\Component\Serializer\SiteAccessNormalizer:
        tags:
            - { name: 'ibexa.core.serializer.normalizer', priority: 1200 }

    Ibexa\Core\MVC\Symfony\Component\Serializer\MatcherDenormalizer:
        arguments:
            $registry: '@Ibexa\Bundle\Core\SiteAccess\SiteAccessMatcherRegistryInterface'
        tags:
            - { name: 'ibexa.core.serializer.normalizer', priority: 1100 }

    Ibexa\Core\MVC\Symfony\Component\Serializer\CompoundMatcherNormalizer:
        autoconfigure: false
        tags:
            - { name: 'ibexa.core.serializer.normalizer', priority: 1000 }

    Ibexa\Core\MVC\Symfony\Component\Serializer\HostElementNormalizer:
        tags:
            - { name: 'ibexa.core.serializer.normalizer', priority: 900 }

    Ibexa\Core\MVC\Symfony\Component\Serializer\MapNormalizer:
        tags:
            - { name: 'ibexa.core.serializer.normalizer', priority: 800 }

    Ibexa\Core\MVC\Symfony\Component\Serializer\URITextNormalizer:
        tags:
            - { name: 'ibexa.core.serializer.normalizer', priority: 700 }

    Ibexa\Core\MVC\Symfony\Component\Serializer\HostTextNormalizer:
        tags:
            - { name: 'ibexa.core.serializer.normalizer', priority: 600 }

    Ibexa\Core\MVC\Symfony\Component\Serializer\RegexNormalizer:
        tags:
            - { name: 'ibexa.core.serializer.normalizer', priority: 500 }

    Ibexa\Core\MVC\Symfony\Component\Serializer\URIElementNormalizer:
        tags:
            - { name: 'ibexa.core.serializer.normalizer', priority: 400 }

    Ibexa\Core\MVC\Symfony\Component\Serializer\SimplifiedRequestNormalizer:
        tags:
            - { name: 'ibexa.core.serializer.normalizer', priority: 300 }

    ibexa.core.mvc.serializer.normalizer.json_serializable_normalizer:
        class: Symfony\Component\Serializer\Normalizer\JsonSerializableNormalizer
        tags:
            - { name: 'ibexa.core.serializer.normalizer', priority: 200 }

    ibexa.core.mvc.serializer.normalizer.property_normalizer:
        class: Symfony\Component\Serializer\Normalizer\PropertyNormalizer
        tags:
            - { name: 'ibexa.core.serializer.normalizer', priority: 100 }

    ibexa.core.mvc.serializer.json_encoder:
        class: Symfony\Component\Serializer\Encoder\JsonEncoder
        tags:
            - { name: 'ibexa.core.serializer.encoder', priority: 100 }

    Ibexa\Bundle\Core\Serializer\SerializerFactory:
        class: Ibexa\Bundle\Core\Serializer\SerializerFactory
        arguments:
            - !tagged_iterator 'ibexa.core.serializer.normalizer'
            - !tagged_iterator 'ibexa.core.serializer.encoder'

    ibexa.core.mvc.serializer:
        # Warning: Do NOT enable autoconfigure for Serializer and Normalizer services.
        # They will be tagged with "serializer.normalizer" tag and injected to main app serializer service if done so.
        class: Symfony\Component\Serializer\Serializer
        factory: [ '@Ibexa\Bundle\Core\Serializer\SerializerFactory', 'create' ]
